#header{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;

}

#header::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 100%;
    background: rgba(12, 12, 12, 0.5);
}

.aboutHeader::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 50%;
    background: rgba(12, 12, 12, 0.5);
}
#content{
    z-index: 10;
    max-width: 1300px;
    margin: 0 auto;
}
