.yarl__container {
    background-color: rgba(0, 0, 0, 0.95);
}
.yarl__toolbar, .yarl__navigation_prev, .yarl__navigation_next{
    opacity: .3;
}
.yarl__toolbar:hover,.yarl__navigation_prev:hover, .yarl__navigation_next:hover{
    opacity: 1;
}

.textContainer{
   max-width: 280px;
    margin: 0 auto;
    text-align: center;
}