.navbar{
    z-index: 100;
    background:transparent;
    color: white;
    transition: background-color 0.3s ease;
}
.navbar.scrolled{
    background: rgb(247, 247, 247);
    color: rgb(32, 32, 32);
}

.navbar.scrolled .active{
    color:#21cc7a;
}